= form_for @event_form,
 url: @event_form.id ? event_path(@event_form.id) : events_path,
 method: @event_form.id ? 'patch' : 'post' do |f|
  - if @event_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_form.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event_form.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name
  = f.text_field :name
  %br
  = f.label :all_day
  = f.check_box :all_day
  %br
  = f.label :start_at
  = f.text_field :start_at, class: 'datepicker'
  = f.text_field :start_at_minutes, placeholder: '00'
  = f.text_field :start_at_hours, placeholder: '00'
  %br
  = f.label :end_at
  = f.text_field :end_at, class: 'datepicker'
  = f.text_field :end_at_minutes, placeholder: '00'
  = f.text_field :end_at_hours, placeholder: '00'
  %p
    = f.label :calendars
    = f.select :calendars_ids, Calendar.all.collect {|p| [ p.name, p.id ] }, {}, {multiple: true, class: 'form-control'}

  %p
    = f.label :recurring_type
    = f.select :recurring_type, ['Daily','Monthly']
  %p
    %label Until
    %input.datepicker{name:'until'}

  .actions
    = f.submit 'Save', class: 'btn btn-success'
