%h1 Listing calendars

%table.table
  %tr
    %th Name
    %th Events
    %th


  - @calendars.each do |calendar|
    %tr
      %td= calendar.name
      %td 0
      %td
        = link_to 'Show', calendar, :class=> 'btn btn-info'
        = link_to 'Edit', edit_calendar_path(calendar), :class=> 'btn btn-warning'
        = link_to 'Destroy', calendar, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=> 'btn btn-danger'

%br

= link_to 'New Calendar', new_calendar_path, class:'btn btn-success'
